---
import { Icon } from 'astro-icon/components';
---

<footer class="py-20 bg-slate-700">
  <div class="flex flex-row justify-between px-10 text-center text-md text-slate-300">
    <p>
      Copyright © {new Date().getFullYear()} Silver Stag Studio. All rights reserved.
    </p>
    <p>
      <div class="flex flex-row text-3xl space-x-5 pr-10">
        <a href="instagram.com">
          <Icon name="tabler:brand-instagram" />
        </a>
        <a href="facebook.com">
          <Icon name="tabler:brand-facebook" />
        </a>
        <a href="instagram.com">
          <Icon name="tabler:brand-twitter" />
        </a>
      </div>
    </p>
  </div>
</footer>
