---
import { Image } from 'astro:assets';
const { title, text, imgsrc, width = 'md:w-1/2', imgleft = true, imground = true } = Astro.props;
---

<div
  class={`p-5 w-full flex flex-col justify-center items-center space-y-5
  md:flex-row md:space-y-0 md:space-y-0 ${imgleft ? '' : ''}`}
>
  <div class="flex flex-col justify-start align-center">
    <h1 class="text-3xl">{title}</h1>
    <h1 class="text-xl">{text}</h1>
  </div>
  <Image
    src={imgsrc}
    alt="Left Based Image"
    class={`${width} ${imgleft ? 'md:order-first md:mr-5' : 'md:order-last md:ml-5'} ${imground ? 'rounded-lg' : ''}`}
  />
</div>
