---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Pricing',
};
---

<Layout metadata={metadata}>
  <!-- Pricing Widget ******************* -->
  <div class="lg:px-16">
    <Prices
      title="Pricing"
      prices={[
        {
          title: 'Lump Sum',
          subtitle: '',
          price: 1200,
          period: 'one time',
          items: [
            {
              description: 'Website Design and Development',
            },
            {
              description: '5 Pages Included (+$100 per additional page)',
            },
            {
              description: '+ $25/month Hosting',
            },
            {
              description: '+ $25/month Unlimited Edits',
            },
            {
              description: 'Lifetime Updates',
              disabled: true,
            },
            {
              description: '24/7 Support',
              disabled: true,
            },
          ],
          callToAction: {
            text: 'Get started',
            href: '/contact',
          },
        },
        {
          title: 'Monthly',
          subtitle: '',
          price: 150,
          period: 'Per Month',
          items: [
            {
              description: 'Website Design and Development',
            },
            {
              description: '5 Pages Included (+$100 per additional page)',
            },
            {
              description: 'Hosting Included!',
            },
            {
              description: 'Unlimited Edits Included!',
            },
            {
              description: 'Lifetime Updates',
            },
            {
              description: '24/7 Support',
            },
          ],
          callToAction: {
            text: 'Get started',
            href: '/contact',
            variant: 'success',
          },
          hasRibbon: true,
          ribbonTitle: 'popular',
        },
        {
          isAvailable: false,
          title: 'E-Commerce',
          subtitle: 'Coming Soon',
          price: 3000,
          period: 'One Time',
          items: [
            {
              description: 'Website Design and Development',
            },
            {
              description: 'Custom Shopify Store',
            },
            {
              description: 'Shopify Walkthrough Tutorial',
            },
            {
              description: '+ $25/month Hosting',
            },
            {
              description: '+ $25/month Unlimited Edits',
              disabled: true,
            },
            {
              description: '24/7 Support',
              disabled: true,
            },
          ],
          callToAction: {
            target: '_blank',
            text: 'Get started',
            href: '/contact',
          },
        },
      ]}
    >
      <Fragment slot="subtitle"
        >We offer <span class="underline text-accent">one-time payment + monthly hosting</span> or <span
          class="underline text-accent">monthly payment + support</span
        > plans
      </Fragment>
    </Prices>
  </div>
</Layout>
